html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

body,
h1,
h2,
h3 {
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid rebeccapurple; */
}

.feature {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: lightgray;
}

div img {
    width: 100%;
    height: auto;
}

.first_row_text h3 {
    color: #777;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
}


/* ----- home_page STARTS HERE ----- */

.main_nav {
    margin: 0px;
    padding: 0px;
}

.logo {
    color: #005769;
}

header {
    font-size: 3.5rem;
    margin-top: 16%;
    padding: 0;
    line-height: 65px;
    letter-spacing: 1.5px;
    min-height: 100vh;
}


.home_page {
    background-image: url("assets/image-main.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    max-height: 100vh;
}

h2 {
    font-size: 3rem;
    color: #333;
    margin: 0;
}

/* ----- home_page ENDS HERE ----- */


/* ----- main_nav STARTS HERE ----- */

nav .main_nav {
    min-width: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}


ul .main_nav {
    display: flex;
    list-style-type: none;
    float: right;
    align-items: center;
}

a {
    text-decoration: none;
    color: #333;
}

.main_nav li {
    display: inline-block;
    margin-left: 30px;
}

.flex_nav {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 10px;
}

.contact_button { 
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #16D6D1;
    border-radius: 10px;
}

/* ----- main_nav ENDS HERE ----- */

/* ----- first_row STARTS HERE ----- */

.first_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 50%;
    margin-top: 10vh;
}

.van,
.boat {
    flex: 1;
    max-height: 60%;
    max-width: auto;
    margin: 30px;
    flex-wrap: wrap;
}

img {
    max-height: 100%;
    max-width: auto;
}

.boat {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}

.van {
    flex: 1;
    max-height: 50%;
}

.first_row_text {
    background-color: #F6F8FA;
    padding: 50px;
    flex: 1;
    line-height: 50px;
    text-align: center;
}

.first_row_text h2 {
    text-align: center;
}

.first_button {
    margin: 0 auto;
    max-width: 20%;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #16D6D1;
    border-radius: 10px;
    font-size: 1.5rem;
}

/* ----- first_row ENDS HERE ----- */

/* ----- second_row STARTS HERE */

.second_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 50%;
    margin-top: 10vh;
}

.person,
.cliff {
    flex: 1;
    max-height: 60%;
    max-width: auto;
    margin: 30px;
    flex-wrap: wrap;
}

.person {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}

.cliff {
    flex: 1;
    max-height: 50%;
}

.second_row_text {
    background-color: #F6F8FA;
    padding: 50px;
    flex: 1;
    line-height: 50px;
    text-align: center;
}

.second_row_text h2 {
    text-align: center;
}

.second_button {
    margin: 0 auto;
    max-width: 20%;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #16D6D1;
    border-radius: 10px;
    font-size: 1.5rem;
}

/* ----- second_row ENDS HERE */

/* ----- third_row STARTS HERE */

.third_row {
    display: flex;
}

.third_row img {
    margin: 30px;
}

/* ----- third_row ENDS HERE */


/* ----- footer STARTS HERE */

footer {
    background-color: #F6F8FA;
}

.footer_wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 20px;
}

footer p .text {
    text-align: right;
    margin: 0;
}

p {
    margin: 0;
}

.text {
    width: 35%;
    float: right;
    font-weight: 300;
    font-size: 1.8rem;
    color: 777777;
}

.footer_nav {
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.footer_nav {
    display: flex;
    flex-direction: column;
}

.social_media {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    padding: 0;
}

.social_media,
.footer_links {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.copyright p {
    border-top: 1px solid #777;
    padding: 10px;
    color: #777;
}